html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 

nav{
    width: 100%;
    background-color: white ;
    height: 6%; 
    display: flex;
    align-items: center;
    gap: 30px;
}

nav p{
    font-size: 13px;
    gap: 20px;
    cursor: pointer;
}

nav p:hover{
    border-bottom: 2px solid black;
}

nav .left:first-child{
    margin-left: 70px;
}

.right{
    margin-left: 200px;
    margin-right: 90px;
}

pav{
    width: 100%;
    height: 80%;
    background-color: red;
}

.ri-search-line{
    font-size: 17px;
}
    
.ri-shopping-cart-2-line{
    font-size: 17px;
}
    
.profile{
    height: 30px;
    width: 30px;
    background-image: url("https://images.unsplash.com/photo-1773332585698-cba3c91b73e4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D");
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}

section{
    position: relative;
}

section img{
    width: 1500px;
    height: 590px;
    object-fit: cover;
}

.content{
    position: absolute;
    top: 0px;
    padding: 150px ;
    padding-left: 770px;
}

section h1{
    font-size: 44px;
}

button{
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #2A446F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
    
}

.container p{
    text-decoration: underline;
    font-weight: 650;
}

.container1{
    padding: 65px 0px 0px 135px; 
    display: flex;
    gap: 30px;
    height: 70%;
    width: 1380px;
}

.container1 .box5{
    height: 90%;
    width: 20%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.23);
    border-radius: 4%;
}

.container1 .box5 img{
    width: 250px;
    height: 200px;
    padding: 12px;
    border-radius: 10%;
}

.container1 .box5 button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.container1 .box5 h3{
    margin-left: 10px;
}

.container1 .box5 p{
     margin-left: 10px;
}

.space{
    height: 70%;
    width: 81%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.214);
}

.space img{
    width: 50%;
    height: 95%;
    object-fit: cover;
    padding-right: 10px;
    border-radius: 10px;
}

.spacebox h6{
    font-size: 30px;
    font-weight: 400;
}

.space .spacebox button{
    border-radius: 10px;
    padding: 12px;
    margin-top: 130px;
}

.space .spacebox{
    margin-left: 20px;
}

.area{
    width: 99%;
    height: 100%;
    background-color: #DCEEF8;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.area .area1{
    height: 78%;
    width: 21%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.23);
    border-radius: 4%;
    margin-top: 7%;
    background-color: white;
}

.area .area1 img{
    width: 290px;
    height: 200px;
    border-radius: 10%;
    padding: 13px;
}

.area .area1 button{
    padding: 10px;
    background-color: #FFB900;
    color: black;
    margin-left: 12px;
    padding: 8px 15px 8px 15px;
}

.area .area1 h1{
    font-size: 20px;
    padding: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.area .area1 p{
    padding: 12px;
}

.area .area1 .text button{
    background-color: #0078D4;
    color: white;
    margin-bottom: 10px;
}

.area .area1 .text1 button{
    background-color: #0078D4;
    color: white;
    margin-top: 80px;
}

.area .area1 .text2 button{
    background-color: #0078D4;
    color: white;
    margin-top: 100px;
}

.area .area1 .text3 button{
    background-color: #0078D4;
    color: white;
    margin-top: 80px;
}
.blank{
    height: 70%;
    width: 81%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.214);
}

.blank img{
    width: 50%;
    height: 95%;
    object-fit: cover;
    padding-right: 10px;
    border-radius: 10px;
}

.blank h6{
    font-size: 30px;
    font-weight: 400;
}

.blank .blankspace button{
    border-radius: 10px;
    padding: 12px;
    margin-top: 170px;
}


.blank .blankspace{
    margin-left: 20px;
}

.socials{
    width: 99%;
    height: 20%;
    background-color: white;
    padding-top: 20px;
}

.socials h3{
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials .icons{
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.socials .icons .smallbox{
    width: 2.3%;
    height: 100%;
    background-color: white;
    border-radius: 20%;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.295);
    background-size: cover;
    padding: 8px;
}

.socials .icons .smallbox img{
    border-radius: 20%;
}

footer{
    width: 100%;
    height: 45%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .text-box{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .text-box small{
    font-weight: 400;
    font-size: x-small;
    color: gray;
    cursor: pointer;
}

footer .text-box small:hover{
    border-bottom: 2px solid black;
}


footer .text-box h4{
    font-weight: 400;
    color: gray;
}

