html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 

nav{
    width: 100%;
    background-color: white ;
    height: 6%; 
    display: flex;
    align-items: center;
    gap: 30px;
}

nav p{
    font-size: 13px;
    gap: 20px;
}

nav .left:first-child{
    margin-left: 70px;
}

.right{
    margin-left: 200px;
    margin-right: 90px;
}

pav{
    width: 100%;
    height: 80%;
    background-color: red;
}

.ri-search-line{
    font-size: 17px;
}
    
.ri-shopping-cart-2-line{
    font-size: 17px;
}
    
.profile{
    height: 30px;
    width: 30px;
    background-image: url("https://images.unsplash.com/photo-1773332585698-cba3c91b73e4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D");
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}

section{
    position: relative;
}

section img{
    width: 1500px;
    height: 590px;
    object-fit: cover;
}

.content{
    position: absolute;
    top: 0px;
    padding: 150px ;
    padding-left: 770px;
}

section h1{
    font-size: 44px;
}

button{
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #2A446F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
    
}

.container p{
    text-decoration: underline;
    font-weight: 650;
}

.container1{
    padding: 65px 0px 0px 135px; 
    display: flex;
    gap: 40px;
    height: 70%;
    width: 1380px;
}

.container1 .box5{
    height: 90%;
    width: 20%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.23);
    border-radius: 4%;
}

.container1 .box5 img{
     width: 250px;
    height: 200px;
    padding: 12px;
    border-radius: 10%;
}

.container1 .box5 button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.container1 .box5 h3{
    margin-left: 10px;
}

.container1 .box5 p{
     margin-left: 10px;
}